

{% extends 'shopping_list/base.html' %}

{% block content %}

	<!-- tags filter section -->
	<center>
		<section id ="filter-tags">
			<ul class="tag-list">
				<button></button>
			</ul>
		</section>
			<ul>
				<a href="{% url 'shopping_list:list' %}"
					{% if active_tag is None %}
							class="btn btn-primary"
					{% else %}
							class="btn btn-outline-primary"
					{% endif %}
				class ="btn btn-primary"
				>הצג הכל</a>
				{% for tag in tags %}
						<a 
						{% if active_tag == tag %}
							class="btn btn-{{ tag.color }}"
						{% else %}
							class="btn btn-outline-{{ tag.color }}"
						{% endif %}
						href="{% url 'shopping_list:item_list_by_tag' tag.name %}">
							{{ tag.name }}
						</a>
				{% endfor %}

			</ul>
	</center>
	<br>


	<!-- Items list -->
	{% include 'shopping_list/table_of_items.html' %}

	<!-- Add item form -->
	<div class="d-flex">
			<form class="d-inline-flex" action="{% url 'shopping_list:add_item' %}" method="post" >
				<datalist id="datalistOptions">
				  <option class="item-from-data" value="">
				</datalist>
				<div  class="form-group mb-2">
				      {{ add }}
				      {% csrf_token %}
			    </div>
			    <div>
			    <button class="btn btn-outline-primary mb-2" type="submit">הוספה</button>
			    </div>
			</form>
			<br>
	</div>
{% endblock %}
