<div class="d-flex">
		<table class="table" style="height: 80px;">
			<thead>
				<tr>
					<th scope="col">שם הפריט אותו תרצי להוסיף</th>
					<th scope="col">כמות</th>
					<th scope="col">תגים רלוונטים</th>
					<th scope="col">פעולות</th>
				</tr>
			</thead>
			<tbody>
				<template id="single-line">
					<tr>
						<td class="align-baseline"></td>
						<th scope="row" class="align-baseline">
							<input id="numbers" pattern="[0-9.]+" type="number" value="1">
						</th>
						<td class="align-baseline" id="tags"></td>
						<td class="align-baseline">
							<button type="button" id ="delete-button" class="btn btn-outline-danger btn-sm">
							<svg id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="15" height="25" fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
							<path d="M2 30 L30 2 M30 30 L2 2" />
							</svg>
							</button>
						</td>
					</tr>
				</template>
			</tbody>
		</table>
</div>
